* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #141e30, #243b55);
    color: white;
    display: flex;
    justify-content: center;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    text-align: center;
    margin-top: 30px;
}

h1 {
    margin-bottom: 20px;
}

select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    margin: 10px 0;
    cursor: pointer;
}

#info {
    margin: 10px 0;
    font-weight: bold;
}

#resultado {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

.card {
    background-color: #1e1e2f;
    border-radius: 12px;
    padding: 15px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
    margin: 3px 0;
}

.botones {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #00bcd4;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0097a7;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }

    select {
        width: 100%;
    }
}
#menos2, #mas2, #menos5, #mas5 {
    background-color: #673ab7;
}
#menos2:hover, #mas2:hover, #menos5:hover, #mas5:hover {
    background-color: #512da8;
}

#paginacion {
    margin-top: 15px;
}

#paginacion button {
    margin: 3px;
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.activa {
    background-color: #ff9800;
}
#paginacion {
    margin-top: 20px;
}

#paginacion button {
    margin: 4px;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    background-color: #444;
    color: white;
    cursor: pointer;
}

#paginacion button:hover {
    background-color: #666;
}

.activa {
    background-color: #ff9800 !important;
}